<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/main.css"> 
    
    <body>
        <h2 align="left">WHAT THE HELL IS THIS?!</h2>
        <blockquote class="blockquote text-center">
            <p class="mb-0">WHO DO <u>THEY</u> THINK YOU ARE?</p>
        </blockquote>

        <p class="list-group-item-text lead" style="text-align: left;">ces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally </p>
        <p class="list-group-item-text lead" style="text-align: center;">ces that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally <a class="button"href="/about-page">LEARN MORE</a></p>

        
    </body>
</html>